:root {
    --tipografia-nav-titulo: #ffffff;
    --tipografia-nav-home: #4fc3f7;
    --tipografia-nav-li: #c1c1c1;
    --tipografia-text-about-me: #e1e1e1;
    --tipografia-formulario: #000000;
    --tipografia-titulo-lets: #dedede;
    --boton-contact-me: #4fc3f7;
    --caja-cards: #2b2b2b;
    --boton-projects: #484e53;
    --tipografia-projects: #a9a9a9;
    --tipografia-color-sql: #f5f5f5;
    --formulario: #D6DDED;
    --formulario-color-tipo: #8987A1;
    --color-tipografia-mail: #C9C9C9;
  }

  






